<template name="navbar">
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		<a class="navbar-brand text-white" href="/">Twitteor</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="/profile" class="nav-link">Mon profil</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">Notifications <span class="badge badge-pill badge-light">5</span></a>
				</li>
				<li class="nav-item">
					{{> loginButtons}}
				</li>
			</ul>
		</div>
	</nav>
</template>